.darkThemeStyles {
  // -- layout -- //
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;

  // -- base font -- //
  font-family: monospace;
  font-size: 1.25rem;
  color: white;
  letter-spacing: 2px;

  background-color: #3c3c3c;
}

.lightThemeStyles {
  // -- layout -- //
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;

  // -- base font -- //
  font-family: monospace;
  font-size: 1.25rem;
  color: #1a1a1a; // Dark text for contrast
  letter-spacing: 2px;

  background-color: #b0b0b0; // Darker grey background
}
