.root {
  height: 20rem;
  width: 20rem;

  position: relative;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  padding-top: 2.5rem;
  margin: 1rem;

  text-align: center;
  background: #141212;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formSteps {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.step {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
