.root {
  // -- layout -- //
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  // -- base font -- //
  font-family: monospace;
  font-size: 1.25rem;
  color: white;
  letter-spacing: 2px;

  background-color: #3c3c3c;
}
