.error {
  color: red;
  margin: 0;
}

.title {
  font-size: large;
  color: pink;
}

.contentWrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
